/*----- Sass Variables -----*/
$primary-color: #202020;
$secondary-color: #171717;
$contrast-color: #da0037;
$header-color: #d2d2d2;
$text-color: #949494;
$primary-font: "Roboto", sans-serif;

/* ---------- general styling ---------- */
html,
body {
  color: $header-color;
  font-family: $primary-font;
  background: $primary-color;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

h2 {
  color: $header-color;
  font-size: 2.5em;
}

p {
  color: $text-color;
  font-size: 1.3em;
  margin: 0;
}

button {
  background-color: $contrast-color;
  border-radius: 18px;
  border: 1px solid $contrast-color;
  color: $header-color;
  font-size: 1.2em;
  cursor: pointer;
}

a {
  text-decoration: none;
}

/*----- Burger -----*/
.burger {
  width: 40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  cursor: pointer;
}

.line {
  background-color: $contrast-color;
  height: 3px;
  width: 40px;
  border-radius: 15px;
  transition: 0.4s;
}

.line2 {
  margin: 10px 0 10px 0;
}

/* Rotate first bar */
.open .line1 {
  transform: rotate(-45deg) translate(-9px, 10px);
  background-color: $header-color;
}

/* Fade out the second bar */
.open .line2 {
  width: 0px;
  transform: translateX(-75px);
  background-color: $header-color;
}

/* Rotate last bar */
.open .line3 {
  transform: rotate(45deg) translate(-9px, -9px);
  background-color: $header-color;
}

/*----- Nav Styling -----*/
nav {
  background-color: $secondary-color;
  height: 60px;
  position: fixed;
  z-index: 5;
  top: 0;
  width: 100%;
}

.nav-list {
  margin: 0;
  padding: 20px;
  background-color: $secondary-color;
  list-style: none;
  position: absolute;
  z-index: 5;
  transition: all 0.4s;
  top: 60px;
  left: -220px;
  min-height: 100vh;
}

/* Style the links inside the navigation bar */
.nav-link {
  color: $contrast-color;
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  margin: 0 0 30px 0;
  font-weight: 600;
  text-align: left;
}

.nav-link li {
  margin: 0 0 30px 0;
}

/* Add a color to the active/current link */
.active {
  color: $header-color;
  border-bottom: $header-color 2px solid;
}

/* ---------- main styling ---------- */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
  transition: 0.4s;
  background: $primary-color;
}

.blur {
  filter: blur(5px);
}

/*----- Index Page -----*/
.profil-section {
  margin: 140px 0 0 0;
  width: 300px;
  display: grid;
}

.profil-pic {
  height: 300px;
  width: 300px;
  border-radius: 50%;
}

.index-title {
  margin: 15px 0;
  background-image: url(../images/backgr-texture2.png);
  background-size: contain;
  text-align: center;
}

.index-text {
  font-weight: 100;
  letter-spacing: 0.05em;
}

.read-more-btn {
  height: 40px;
  width: 110px;
  margin: 20px 0 120px 0;
}

/* ---------- about styling ---------- */
.about-section {
  margin: 140px 0 0 0;
  width: 300px;
}

.about-title {
  background-image: url(../images/backgr-texture3.png);
  background-size: contain;
  text-align: center;
  margin: 0 0 20px 0;
  padding-bottom: 2px;
}

.about-text {
  margin: 0 0 100px 0;
}

/* ---------- skills styling ---------- */
.skills-section {
  margin: 140px 0 0 0;
  width: 300px;
}

.skills-title {
  background-image: url(../images/backgr-texture4.png);
  background-size: contain;
  text-align: center;
  margin: 0 0 20px 0;
  padding-bottom: 2px;
}

.download-btn {
  height: 40px;
  width: 145px;
  margin: 20px 0 120px 0;
}

/* ---------- skills styling ---------- */
.projects-section {
  margin: 140px 0 0 0;
  width: 300px;
}

.projects-title {
  background-image: url(../images/backgr-texture.png);
  background-size: contain;
  text-align: center;
  margin: 0 0 20px 0;
  padding-bottom: 2px;
}

/* ---------- page styling ---------- */
.page {
  display: block;
  animation: fadeIn 0.4s;
  min-height: calc(100vh - 60px);
}

.page-title {
  display: none;
}

/* ---------- footer styling ---------- */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $secondary-color;
  height: 150px;
  transition: 0.4s;
}

.contact-title {
  text-align: center;
  margin: 0 0 15px 0;
  letter-spacing: 0.08em;
}

.icon-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  height: 50px;
  background-color: $contrast-color;
  border-radius: 10px;
  border: 1px solid $contrast-color;
  padding: 0 8px 0 8px;
}

.fab,
.fas {
  font-size: 2em;
  background-color: $contrast-color;
  color: $header-color;
}
