/*----- Sass Variables -----*/
/* ---------- general styling ---------- */
html,
body {
  color: #d2d2d2;
  background: #202020;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

h2 {
  color: #d2d2d2;
  font-size: 2.2em;
  letter-spacing: 0.04em;
  font-family: "Montserrat", sans-serif;
}

h3 {
  font-size: 1.4em;
  letter-spacing: 0.04em;
  font-family: "Montserrat", sans-serif;
}

p {
  color: #d2d2d2;
  font-family: "Lato", sans-serif;
  font-size: 1.3em;
  font-weight: 200;
  margin: 0;
}

button {
  background-color: #da0037;
  border-radius: 18px;
  border: 1px solid #da0037;
  color: #d2d2d2;
  font-size: 1.2em;
  cursor: pointer;
}

a {
  text-decoration: none;
  font-family: "Lato", sans-serif;
}

/*----- Burger -----*/
.burger {
  width: 40px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 15px;
  cursor: pointer;
}

.line {
  background-color: #da0037;
  height: 3px;
  width: 40px;
  border-radius: 15px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.line2 {
  margin: 10px 0 10px 0;
}

/* Rotate first bar */
.open .line1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 10px);
          transform: rotate(-45deg) translate(-9px, 10px);
  background-color: #d2d2d2;
}

/* Fade out the second bar */
.open .line2 {
  width: 0px;
  -webkit-transform: translateX(-75px);
          transform: translateX(-75px);
  background-color: #d2d2d2;
}

/* Rotate last bar */
.open .line3 {
  -webkit-transform: rotate(45deg) translate(-9px, -9px);
          transform: rotate(45deg) translate(-9px, -9px);
  background-color: #d2d2d2;
}

/*----- Nav Styling -----*/
nav {
  background-color: #171717;
  height: 60px;
  position: fixed;
  z-index: 5;
  top: 0;
  width: 100%;
}

.nav-list {
  margin: 0;
  padding: 20px;
  background-color: #171717;
  list-style: none;
  position: absolute;
  z-index: 5;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  top: 60px;
  left: -220px;
  min-height: 100vh;
}

/* Style the links inside the navigation bar */
.nav-link {
  color: #da0037;
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  margin: 0 0 30px 0;
  font-weight: 600;
  text-align: left;
}

.nav-link li {
  margin: 0 0 30px 0;
}

/* Add a color to the active/current link */
.active {
  color: #d2d2d2;
  border-bottom: #d2d2d2 2px solid;
}

/* ---------- main styling ---------- */
main {
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.blur {
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

/*----- Index Page -----*/
.profil-section {
  margin: 140px 0 0 0;
  width: 300px;
  display: -ms-grid;
  display: grid;
}

.profil-pic {
  height: 300px;
  width: 300px;
  border-radius: 50%;
}

.index-title {
  margin: 15px 0;
  background-image: url(../images/backgr-texture2.png);
  background-size: contain;
  text-align: center;
}

.index-text {
  font-weight: 100;
  letter-spacing: 0.05em;
}

.read-more-btn {
  height: 40px;
  width: 110px;
  margin: 20px 0 120px 0;
}

/* ---------- about styling ---------- */
.about-section {
  margin: 140px 0 0 0;
  width: 300px;
}

.about-title {
  background-image: url(../images/backgr-texture3.png);
  background-size: contain;
  text-align: center;
  margin: 0 0 20px 0;
  padding-bottom: 2px;
}

.about-text {
  margin: 0 0 100px 0;
}

/* ---------- skills styling ---------- */
.skills-section {
  margin: 140px 0 0 0;
  width: 300px;
}

.skills-title {
  background-image: url(../images/backgr-texture4.png);
  background-size: contain;
  text-align: center;
  margin: 0 0 20px 0;
  padding-bottom: 2px;
}

.download-btn {
  height: 40px;
  width: 125px;
  margin: 20px 0 120px 0;
}

/* ---------- skills styling ---------- */
.projects-section {
  margin: 140px 0 0 0;
  width: 300px;
}

.projects-title {
  background-image: url(../images/backgr-texture.png);
  background-size: contain;
  text-align: center;
  margin: 0 0 40px 0;
  padding-bottom: 2px;
}

.projects-figure {
  margin: 40px 0 0 0;
  border: 1px solid #da0037;
  background: #da0037;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projects-img {
  width: 100%;
}

.github-figure {
  margin: 40px 0 80px 0;
}

figcaption {
  color: #d2d2d2;
  font-family: "Lato", sans-serif;
  padding: 5px 5px;
}

/* ---------- page styling ---------- */
.page {
  display: block;
  -webkit-animation: fadeIn 0.4s;
          animation: fadeIn 0.4s;
}

.page-title {
  display: none;
}

/* ---------- footer styling ---------- */
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #171717;
  height: 150px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.contact-title {
  text-align: center;
  margin: 0 0 15px 0;
  letter-spacing: 0.08em;
}

.link-section {
  display: none;
}

.icon-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  height: 50px;
  background-color: #da0037;
  border-radius: 10px;
  border: 1px solid #da0037;
  padding: 0 8px 0 8px;
}

.fab,
.fas {
  font-size: 2em;
  background-color: #da0037;
  color: #d2d2d2;
}

.fa-download {
  font-size: 1em;
}

/*----- Ipad media query -----*/
@media only screen and (min-device-width: 768px) {
  h2 {
    font-size: 3em;
  }
  h3 {
    font-size: 1.4em;
  }
  p {
    font-size: 1.2em;
    margin: 0;
  }
  button {
    border-radius: 20px;
    font-size: 1.3em;
  }
  /*----- Index -----*/
  .profil-pic {
    height: 400px;
    width: 400px;
  }
  .read-more-btn {
    height: 50px;
    width: 150px;
  }
  /*----- About -----*/
  .about-text {
    margin: 0 0 150px 0;
  }
  /*----- Projects -----*/
  .whitespace {
    height: 180px;
  }
  .page {
    width: 400px;
    margin: 0;
  }
  /* ---------- footer styling ---------- */
  footer {
    height: 200px;
  }
  .link-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 8px 0 8px;
  }
  .link-section a {
    font-size: 1.4em;
    font-weight: 400;
    color: #da0037;
    text-transform: uppercase;
    margin: 0 20px 0 20px;
  }
  .icon-section {
    display: none;
  }
}

/*----- Desktop media query -----*/
@media only screen and (min-device-width: 1024px) {
  h2 {
    font-size: 4.2em;
  }
  h3 {
    font-size: 1.8em;
  }
  p {
    font-size: 1.4em;
    margin: 0;
  }
  button {
    border-radius: 20px;
    font-size: 1.3em;
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    height: calc(100vh - 0);
  }
  /*----- Burger -----*/
  .burger {
    display: none;
  }
  /*----- Nav Styling -----*/
  nav {
    width: 100%;
  }
  .nav-list {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 60px;
    width: 600px;
    padding: 0;
    margin: 0 auto;
    background-color: #171717;
    list-style: none;
    z-index: 1;
  }
  /* Style the links inside the navigation bar */
  .nav-link {
    color: #da0037;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 0;
    font-weight: 400;
    text-align: left;
  }
  .nav-link li {
    margin: 0;
  }
  .page {
    width: 600px;
  }
  /*----- Index -----*/
  .profil-pic {
    height: 450px;
    width: 450px;
  }
  .pic-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  /* ---------- about styling ---------- */
  .about-section {
    margin: 0 0 50px 0;
  }
}
/*# sourceMappingURL=styles.css.map */