/*----- Sass Variables -----*/
/* ---------- general styling ---------- */
html,
body {
  color: #d2d2d2;
  font-family: "Roboto", sans-serif;
  background: #202020;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

h2 {
  color: #d2d2d2;
  font-size: 2.5em;
}

p {
  color: #949494;
  font-size: 1.3em;
  margin: 0;
}

button {
  background-color: #da0037;
  border-radius: 18px;
  border: 1px solid #da0037;
  color: #d2d2d2;
  font-size: 1.2em;
  cursor: pointer;
}

a {
  text-decoration: none;
}

/*----- Burger -----*/
.burger {
  width: 40px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 15px;
  cursor: pointer;
}

.line {
  background-color: #da0037;
  height: 3px;
  width: 40px;
  border-radius: 15px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.line2 {
  margin: 10px 0 10px 0;
}

/* Rotate first bar */
.open .line1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 10px);
          transform: rotate(-45deg) translate(-9px, 10px);
  background-color: #d2d2d2;
}

/* Fade out the second bar */
.open .line2 {
  width: 0px;
  -webkit-transform: translateX(-75px);
          transform: translateX(-75px);
  background-color: #d2d2d2;
}

/* Rotate last bar */
.open .line3 {
  -webkit-transform: rotate(45deg) translate(-9px, -9px);
          transform: rotate(45deg) translate(-9px, -9px);
  background-color: #d2d2d2;
}

/*----- Nav Styling -----*/
nav {
  background-color: #171717;
  height: 60px;
  position: fixed;
  z-index: 5;
  top: 0;
  width: 100%;
}

.nav-list {
  margin: 0;
  padding: 20px;
  background-color: #171717;
  list-style: none;
  position: absolute;
  z-index: 5;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  top: 60px;
  left: -220px;
  min-height: 100vh;
}

/* Style the links inside the navigation bar */
.nav-link {
  color: #da0037;
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  margin: 0 0 30px 0;
  font-weight: 600;
  text-align: left;
}

.nav-link li {
  margin: 0 0 30px 0;
}

/* Add a color to the active/current link */
.active {
  color: #d2d2d2;
  border-bottom: #d2d2d2 2px solid;
}

/* ---------- main styling ---------- */
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background: #202020;
}

.blur {
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

/*----- Index Page -----*/
.profil-section {
  margin: 140px 0 0 0;
  width: 300px;
  display: -ms-grid;
  display: grid;
}

.profil-pic {
  height: 300px;
  width: 300px;
  border-radius: 50%;
}

.index-title {
  margin: 15px 0;
  background-image: url(../images/backgr-texture2.png);
  background-size: contain;
  text-align: center;
}

.index-text {
  font-weight: 100;
  letter-spacing: 0.05em;
}

.read-more-btn {
  height: 40px;
  width: 110px;
  margin: 20px 0 120px 0;
}

/* ---------- about styling ---------- */
.about-section {
  margin: 140px 0 0 0;
  width: 300px;
}

.about-title {
  background-image: url(../images/backgr-texture3.png);
  background-size: contain;
  text-align: center;
  margin: 0 0 20px 0;
  padding-bottom: 2px;
}

.about-text {
  margin: 0 0 100px 0;
}

/* ---------- skills styling ---------- */
.skills-section {
  margin: 140px 0 0 0;
  width: 300px;
}

.skills-title {
  background-image: url(../images/backgr-texture4.png);
  background-size: contain;
  text-align: center;
  margin: 0 0 20px 0;
  padding-bottom: 2px;
}

.download-btn {
  height: 40px;
  width: 145px;
  margin: 20px 0 120px 0;
}

/* ---------- skills styling ---------- */
.projects-section {
  margin: 140px 0 0 0;
  width: 300px;
}

.projects-title {
  background-image: url(../images/backgr-texture.png);
  background-size: contain;
  text-align: center;
  margin: 0 0 20px 0;
  padding-bottom: 2px;
}

/* ---------- page styling ---------- */
.page {
  display: block;
  -webkit-animation: fadeIn 0.4s;
          animation: fadeIn 0.4s;
  min-height: calc(100vh - 60px);
}

.page-title {
  display: none;
}

/* ---------- footer styling ---------- */
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #171717;
  height: 150px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.contact-title {
  text-align: center;
  margin: 0 0 15px 0;
  letter-spacing: 0.08em;
}

.icon-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  height: 50px;
  background-color: #da0037;
  border-radius: 10px;
  border: 1px solid #da0037;
  padding: 0 8px 0 8px;
}

.fab,
.fas {
  font-size: 2em;
  background-color: #da0037;
  color: #d2d2d2;
}
/*# sourceMappingURL=styles.css.map */